{% extends "base.html" %}
{% block title %}Delete {{city.name}}{% endblock %}
{% block content %}
<div class="content-container">
  <div class="page-title-container">
    <a class="title-link back-link" href="{{url_for('show_cities')}}">Back</a>
    <h1 class="page-title">Delete {{city.name}}</h1>
  </div>
  <p class="delete-confirmation">
      Do you really want to delete {{city.name}}? This will remove the city and
      all of the historical sites within.
  </p>
  <form class="delete-confirmation" method="POST">
    <button type="submit">Delete</button>
  </form>
</div>
{% endblock %}