{% extends "base.html" %}
{% block title %}Edit a Site{% endblock %}
{% block content %}
<div class="content-container">
  <div class="page-title-container">
    <a class="title-link back-link"
      href="{{url_for('show_sites', city_id=site.city_id)}}">
      Back
    </a>
    <h1 class="page-title">Edit {{site.name}}</h1>
  </div>
  <form method="POST">
    <p>
      <label for="name" required>Name</label>
      <input type="text" maxlength="50" name="name" id="name" placeholder="{{site.name}}">
    </p>
    <p>
        <label for="description">Description</label>
        <textarea name="description" id="description" maxlength="250" rows="5" placeholder="{{site.description}}"></textarea>
    </p>
    <p>
        <label for="civilization">Civilization</label>
        <input type="text" name="civilization" id="civilization" maxlength="50" placeholder="{{site.civilization}}">
    </p>
    <p>
      <label for="image_uri">Image URI</label>
      <input type="text" maxlength="250" name="image_uri" id="image_uri" placeholder="{{site.image}}">
    </p>
    <button type="submit">Edit</button>
  </form>
</div>
{% endblock %}