{% extends "base.html" %}
{% block title %}Edit {{city.name}}{% endblock %}
{% block content %}
<div class="content-container">
  <div class="page-title-container">
    <a class="title-link back-link" href="{{url_for('show_cities')}}">Back</a>
    <h1 class="page-title">Edit {{city.name}}</h1>
  </div>
  <form method="POST">
    <p>
      <label for="name">Name</label>
      <input type="text" maxlength="50" name="name" id="name" placeholder="{{city.name}}">
    </p>
    <p>
      <label for="image_uri">Image URI</label>
      <input type="text" maxlength="250" name="image_uri" id="image_uri" placeholder="{{city.image}}">
    </p>
    <button type="submit">Edit</button>
  </form>
</div>
{% endblock %}