{% extends "base.html" %}
{% block title %}{{site.name}}{% endblock %}
{% block content %}
<div class="content-container">
  <div class="page-title-container">
    <a class="title-link back-link"
      href="{{url_for('show_sites', city_id=site.city_id)}}">
      Back
    </a>
    <h1 class="page-title">{{site.name}}</h1>
  </div>
  <div class="single-site-container">
    <div class="description-container">
      <strong>Civilization: {{site.civilization}}</strong>
      <p>
        {{site.description}}
      </p>
    </div>
    <img class="item-image" src="{{site.image}}" alt="Image for {{site.name}}">
  </div>
</div>
{% endblock %}