{% extends "base.html" %}
{% block title %}Historical Sites of {{city.name}}{% endblock %}
{% block content %}
<div class="content-container">
  <div class="page-title-container">
    <h1>Historical Sites of {{city.name}}</h1>
    <a href="{{url_for('edit_city', city_id=city.id)}}">Edit</a>
    <a href="{{url_for('delete_city', city_id=city.id)}}">Delete</a><br>
    <a href="{{url_for('new_historical_site', city_id=city.id)}}">Add a new historical site.</a>
  </div>
  <ul>
    {% for site in sites %}
    <li>
      <div>
        <a href="{{url_for('show_historical_site', city_id=city.id, site_id=site.id)}}">
          <div>
            <h2>{{site.name}}</h2>
          </div>
        </a>
        <img src="{{site.image}}" alt="Image for {{site.name}}">
      </div>
      <div>
        <a href="{{url_for('edit_historical_site', city_id=city.id, site_id=site.id)}}">Edit</a>
        <a href="{{url_for('delete_historical_site', city_id=city.id, site_id=site.id)}}">Delete</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}